@page "/reservation"
@rendermode InteractiveServer

<style>

    @@media (max-width: 767px) {
        .container .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 1rem;
        }

            .container .row > .col {
                flex: 0 0 auto;
                width: 50%;
            }
    }

    .d-flex {
        padding-top: 250px;
    }

  /*   .card-img-top{
        height: 270px;
        object-fit: cover;
    } */
</style>

<NewNavMenu />

<div class="container">
    @if (gowns == null || gowns.Length == 0)
    {
        <div class="d-flex justify-content-center my-4">
            <div class="loader"></div>
        </div>
    }
    else
    {

        <br />
        <div class="row row-cols-1 row-cols-md-6 g-4">
            @foreach (var gown in gowns.Take(currentIndex))
            {
                <div class="col">
                        <div class="card h-100">
                            <img src="data:image/bmp;base64, @(Convert.ToBase64String(gown.Photo))" class="card-img-top" alt="@gown.Name">
                            <div class="card-body">
                                <h5 class="card-title">Name: @gown.Name</h5>
                                <h6>Size: @gown.Size</h6>
                                <p>Color: @gown.Color</p>
                            <MudButton Variant="Variant.Filled" T="string" Color="Color.Info">Reserve Now</MudButton>
                            </div>
                     
                        </div>
                   
                </div>
            }
        </div>
        <br />
        <br />

        @if (currentIndex < gowns.Length)
        {
            <center>
                <div>
                    <MudButton Disabled="@_loading" OnClick="loadMore" Variant="Variant.Filled" Color="Color.Dark">
                        @if (_loading)
                        {
                            <div class="loader"></div>
                        }
                        else
                        {
                            <MudText>Load More</MudText>
                        }
                    </MudButton>
                </div>
            </center>
        }
    }
</div>

@code {
    private Gowns[] gowns;
    private int currentIndex = 12;
    private const int PageSize = 12;
    private bool _loading = false;
    private string txtsearch { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadGown();
        }
    }

    private async Task LoadGown()
    {
        try
        {
            using (var client = new HttpClient())
            {
                client.BaseAddress = new Uri($"{Nav.BaseUri}");
                var response = await client.GetAsync($"api/Gown/Gowns");
                if (response.IsSuccessStatusCode)
                {
                    await Task.Delay(1000);
                    var contentResponse = await response.Content.ReadAsStringAsync();
                    gowns = JsonConvert.DeserializeObject<Gowns[]>(contentResponse);
                    StateHasChanged();
                }
                else
                {
                    // Handle error
                }
            }
        }
        catch (Exception ex)
        {
            // Handle exception
        }
    }

    private async void loadMore()
    {
        _loading = true;
        await Task.Delay(1000);
        currentIndex = Math.Min(currentIndex + PageSize, gowns.Length);
        StateHasChanged();
    }
   
 }
